{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'detail.css' %}">
{% endblock %}

{% block content %}
    <div class="post_block">
        <div class="image">
            {% if post.image %}
                <img src="/media/{{ post.image }}/" alt="">
            {% else %}
                <img src="{% static 'casio-logo-vector-1.svg'%}">
            {% endif %}
        </div>
        <div class="info">
            <h1>{{ product.name }}</h1>
            <h4>{{ product.description }}</h4>
            <h4>{{ product.price }}</h4>
            <h4>{{ product.available }}</h4>
            <h4>Rate: {{ product.rate }}</h4>
            <div class="dates">
                <p>{{ product.created }}</p>
                <p>{{ product.updated }}</p>
            </div>
        </div>

        <div class="create_comment">
            <form action="/products/{{ product.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Add comment">
            </form>
        </div>

        <div class="comments">
            {% for comment in comments %}
                <div class="comment_block">
                    <h5>{{ comment.text }}</h5>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
